
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section id="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br /><br /><br />
                
               <h2 style="align-content:center">Mua hàng thành công,Cám Ơn bạn.Hàng sẽ giao trong vòng 4~5 ngày</h2>
                <div>
                    <hr />
                   </div>
                </div>
            </div>
        </div>

</section>

