@model DoGiaDung.Models.USER

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <section id="aa-myaccount">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-myaccount-area">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="aa-myaccount-login">
                                    <h2>Quên mật khẩu</h2>
                                    <form action="/User/LoginAcc" class="aa-login-form" method="post">
                                        <label for="">Tài khoản email<span>*</span></label><br />
                                        @Html.TextBox("EmailID", "", new { @type = "text",@placeholder ="Email",@class = "input100" })<hr />
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10"></div>
                                            <input type="submit" value="Lấy lại mật khẩu" class="btn btn-danger" />
                                        </div>
                                        @ViewBag.Message
                                        <div class="aa-register-now">
                                            <a href="/User/RegisterUser">Đăng ký tài khoản!</a>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

