@model DoGiaDung.Models.USER

@{
    ViewBag.Title = "RegisterUser";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V13</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
    @using (Html.BeginForm("RegisterUser", "User", FormMethod.Post, new { @class = "aa-login-form" }))
    {
        <section id="aa-myaccount">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-myaccount-area">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="aa-myaccount-register">
                                        <h4>Đăng ký tài khoản</h4>
                                        <form action="" class="aa-login-form">
                                            <div class="wrap-input100 validate-input" data-validate="Name is required">
                                                <span class="label-input100">Họ tên</span>
                                                <input class="input100" type="text" name="name" placeholder="Họ tên...">
                                                <span class="focus-input100"></span>
                                            </div>
                                            <div class="wrap-input100 validate-input" data-validate="Valid phone is required: 090****938">
                                                <span class="label-input100">Số điện thoại</span><br />
                                                <input style="width:100%;height:40px;" class="input100" type="number" name="phone" placeholder="SĐT...">
                                                <span class="focus-input100"></span>
                                            </div>

                                            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                                <span class="label-input100">Địa chỉ email</span><br />
                                                <input style="width:100%;height:40px;" class="input100" type="email" name="email" placeholder="Email...">
                                                <span class="focus-input100"></span>
                                            </div>
                                            
                                            <div class="wrap-input100 validate-input" data-validate="Password is required">
                                                <span class="label-input100">Mật khẩu</span>
                                                <input class="input100" type="password" name="pass" placeholder="*************">
                                                <span class="focus-input100"></span>
                                            </div>

                                            <div class="wrap-input100 validate-input" data-validate="Repeat Password is required">
                                                <span class="label-input100">Nhập lại mật khẩu</span>
                                                <input class="input100" type="password" name="repeat-pass" placeholder="*************">
                                                <span class="focus-input100"></span>
                                            </div>

                                            <div class="alert" role="alert">
                                                <p class="alert-primary mb-0 text-center">
                                                    @ViewBag.ErrorRegister
                                                </p>
                                            </div>

                                            <div class="flex-m w-full p-b-33">
                                                <div class="contact100-form-checkbox">
                                                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                                    <label class="label-checkbox100" for="ckb1">
                                                        <span class="txt1">
                                                            Tôi đồng ý với
                                                            <a href="#" class="txt2 hov1">
                                                                Các Điều Khoản Sử Dụng
                                                            </a>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                            <hr />
                                            <button type="submit" class="aa-browse-btn" onclick="/User/ThongTin">Register</button>
                                        </form>
                                    </div>
                                </div>
                                </div></div></div></div></div></section>
                                }
                                @*@using (Html.BeginForm("RegisterUser", "User", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="limiter">
                                            <div class="container-login100">
                                                <div class="login100-more" style="background-image: url();"></div>

                                                <div class="wrap-login100 p-l-50 p-r-50 p-t-172 p-b-50">
                                                    <form class="login100-form validate-form">
                                                        <span class="login100-form-title p-b-59">
                                                            Đăng Ký
                                                        </span>

                                                        <div class="wrap-input100 validate-input" data-validate="Name is required">
                                                            <span class="label-input100">Họ tên</span>
                                                            <input class="input100" type="text" name="name" placeholder="Họ tên...">
                                                            <span class="focus-input100"></span>
                                                        </div>

                                                        <div class="wrap-input100 validate-input" data-validate="Valid phone is required: 090****938">
                                                            <span class="label-input100">Số điện thoại</span>
                                                            <input class="input100" type="number" name="phone" placeholder="Số điện thoại...">
                                                            <span class="focus-input100"></span>
                                                        </div>

                                                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                                            <span class="label-input100">Email</span>
                                                            <input class="input100" type="email" name="email" placeholder="Địa chỉ email...">
                                                            <span class="focus-input100"></span>
                                                        </div>
                                                        <div class="wrap-input100 validate-input" data-validate="Password is required">
                                                            <span class="label-input100">Mật khẩu</span>
                                                            <input class="input100" type="password" name="pass" placeholder="*************">
                                                            <span class="focus-input100"></span>
                                                        </div>

                                                        <div class="wrap-input100 validate-input" data-validate="Repeat Password is required">
                                                            <span class="label-input100">Nhập lại mật khẩu</span>
                                                            <input class="input100" type="password" name="repeat-pass" placeholder="*************">
                                                            <span class="focus-input100"></span>
                                                        </div>

                                                        <div class="alert" role="alert">
                                                            <p class="alert-primary mb-0 text-center">
                                                                @ViewBag.ErrorRegister
                                                            </p>
                                                        </div>

                                                        <div class="flex-m w-full p-b-33">
                                                            <div class="contact100-form-checkbox">
                                                                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                                                <label class="label-checkbox100" for="ckb1">
                                                                    <span class="txt1">
                                                                        Tôi đồng ý với
                                                                        <a href="#" class="txt2 hov1">
                                                                            Các Điều Khoản Sử Dụng
                                                                        </a>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="container-login100-form-btn">
                                                            <div class="wrap-login100-form-btn">
                                                                <div class="login100-form-bgbtn"></div>
                                                                <button class="login100-form-btn" type="submit">
                                                                    Đăng Ký
                                                                </button>
                                                            </div>

                                                            <a href="/User/Index" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                                                                Đăng nhập
                                                                <i class="fa fa-long-arrow-right m-l-5"></i>
                                                            </a>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }*@
                 


    </body>
</html>